<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改笼子管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-SysCage-edit" th:object="${sysCage}">
            <input name="cageId" th:field="*{cageId}" type="hidden">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">笼子编号：</label>
                    <div class="col-sm-8">
                        <input name="cageCode" th:field="*{cageCode}" class="form-control" type="text" required>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">笼子名称：</label>
                    <div class="col-sm-8">
                        <input name="cageName" th:field="*{cageName}" class="form-control" type="text" required>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">笼子类型：</label>
                    <div class="col-sm-8">
                        <select name="cageType" class="form-control" th:with="type=${@dict.getType('sys_cage_type')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{cageType}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">实验室房间：</label>
                    <div class="col-sm-8">
                        <input name="laboratoryRoom" th:field="*{laboratoryRoom}" class="form-control" type="text" required>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">货架编号：</label>
                    <div class="col-sm-8">
                        <input name="rackNumber" th:field="*{rackNumber}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">行位置：</label>
                    <div class="col-sm-8">
                        <input name="positionRow" th:field="*{positionRow}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">列位置：</label>
                    <div class="col-sm-8">
                        <input name="positionColumn" th:field="*{positionColumn}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">最大容量(只)：</label>
                    <div class="col-sm-8">
                        <input name="maxCapacity" th:field="*{maxCapacity}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">当前小鼠数量：</label>
                    <div class="col-sm-8">
                        <input name="currentCount" th:field="*{currentCount}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">笼子状态：</label>
                    <div class="col-sm-8">
                        <select name="cageStatus" class="form-control" th:with="type=${@dict.getType('sys_cage_status')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{cageStatus}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">温度范围(°C)：</label>
                    <div class="col-sm-8">
                        <input name="temperatureRange" th:field="*{temperatureRange}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">湿度范围(%)：</label>
                    <div class="col-sm-8">
                        <input name="humidityRange" th:field="*{humidityRange}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">二维码图片URL：</label>
                    <div class="col-sm-8">
                        <textarea name="qrCodeImageUrl" class="form-control">[[*{qrCodeImageUrl}]]</textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/SysCage";
        $("#form-SysCage-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-SysCage-edit').serialize());
            }
        }
    </script>
</body>
</html>