<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改小鼠基础信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-SysMouse-edit" th:object="${sysMouse}">
            <input name="mouseId" th:field="*{mouseId}" type="hidden">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">小鼠编号：</label>
                    <div class="col-sm-8">
                        <input name="mouseCode" th:field="*{mouseCode}" class="form-control" type="text" required>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">小鼠名称：</label>
                    <div class="col-sm-8">
                        <input name="mouseName" th:field="*{mouseName}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">物种：</label>
                    <div class="col-sm-8">
                        <select name="species" class="form-control" th:with="type=${@dict.getType('sys_species')}" required>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{species}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">品系：</label>
                    <div class="col-sm-8">
                        <input name="strain" th:field="*{strain}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">性别：</label>
                    <div class="col-sm-8">
                        <select name="gender" class="form-control" th:with="type=${@dict.getType('sys_sex')}" required>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{gender}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">出生日期：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input name="birthDate" th:value="${#dates.format(sysMouse.birthDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">体重：</label>
                    <div class="col-sm-8">
                        <input name="weight" th:field="*{weight}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">健康状态：</label>
                    <div class="col-sm-8">
                        <select name="healthStatus" class="form-control" th:with="type=${@dict.getType('sys_health_status')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{healthStatus}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">照片：</label>
                    <div class="col-sm-8">
                        <textarea name="photoUrl" class="form-control">[[*{photoUrl}]]</textarea>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">RFID标签号：</label>
                    <div class="col-sm-8">
                        <input name="rfidTag" th:field="*{rfidTag}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">耳标号：</label>
                    <div class="col-sm-8">
                        <input name="earTag" th:field="*{earTag}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">状态：</label>
                    <div class="col-sm-8">
                        <select name="status" class="form-control" th:with="type=${@dict.getType('sys_mouse_status')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{status}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">来源：</label>
                    <div class="col-sm-8">
                        <input name="source" th:field="*{source}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">供应商：</label>
                    <div class="col-sm-8">
                        <select name="supplier" class="form-control" th:with="type=${@dict.getType('sys_supplier')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{supplier}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">到达日期：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input name="arrivalDate" th:value="${#dates.format(sysMouse.arrivalDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">断奶日期：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input name="weaningDate" th:value="${#dates.format(sysMouse.weaningDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">基因型信息：</label>
                    <div class="col-sm-8">
                        <input name="genotype" th:field="*{genotype}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">繁殖状态：</label>
                    <div class="col-sm-8">
                        <select name="breedingStatus" class="form-control" th:with="type=${@dict.getType('sys_breeding_status')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{breedingStatus}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">父亲小鼠ID：</label>
                    <div class="col-sm-8">
                        <input name="fatherMouseId" th:field="*{fatherMouseId}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">母亲小鼠ID：</label>
                    <div class="col-sm-8">
                        <input name="motherMouseId" th:field="*{motherMouseId}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">备注：</label>
                    <div class="col-sm-8">
                        <textarea name="remark" class="form-control">[[*{remark}]]</textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/SysMouse";
        $("#form-SysMouse-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-SysMouse-edit').serialize());
            }
        }

        $("input[name='birthDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='arrivalDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='weaningDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>